.divTimer{
    border: 7px solid rgb(125, 8, 74);
    padding: 40px;
    margin: auto;
    position: relative;
    display: flex;
    width: 60%;
    content:inherit  ;
}

.divLetters{
   padding: 5px;
}

.divButtons{
    margin-left: 70px;
    margin-top: 35px;
}

.butStart{
    background-color: rgb(15, 163, 15);
}

.butStop{
    background-color: rgb(154, 26, 26);
    margin: 10px;
}

.butReset{
    background-color: rgb(177, 177, 11);
}